

/*global*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text-center{
    text-align: center;
}

.text-center{
    text-align: center;
}


/*Log In*/
.wrapper{
    border: 10px solid rgb(182, 154, 154);
    width: 40%;
    margin: 200px auto;
    background-color: #fff;
}

.wrapper > h1 {
    margin: 50px 0 10px;
}

.wrapper label{
    margin-right: 20px;
}

.btn-primary{
    background-color: #2980b9;
    color: #fff;
    padding: .5%;
    margin-bottom: 50px;
}