
/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #f3f5f9;
}

.wrapper{
    display: flex;
    /* position: relative; */
}

.round{
    border-radius: 50%;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.align-center{
    align-items: center;
}

/*Table CSS*/
.content-table{
    /* border: 1px solid black; */
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(129, 120, 120, 0.15);
}

.content-table thead tr{
    background-color: #34495e;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-child(even){
    background-color: #bdc3c7;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #34495e;
}

.tbl-wrapper{
    min-width: 25%;
    margin: 0 40%;
}

th{
    border-bottom: 1px solid black;
}


/*Buttons*/
.btn-primary{
    background-color: #e58e26;
    padding: 0.5%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover{
    transition-duration: 0.5s;
    background-color:#7953d1;
}

.btn-secondary{
    background-color: #636e72;
    margin: 10px 10px;
    color: white;
    font-weight: bold;
    padding: 1% 2%;
    font-size: 1.1em;
}

.btn-secondary:hover{
    transition-duration: 0.5s;
    background-color: #2d3436;
}

.btn-danger{
    background-color: rgb(255, 75, 75);
    color: white;
    font-weight: bold;
    padding: 1% 2%;
    font-size: 1.1em;
}

.btn-danger:hover{
    transition-duration: 0.5s;
    background-color: #d63031;
}

/*Color*/
.txt-red{
    color: rgb(197, 43, 43);
    font-weight: bold;
}

.txt-green{
    color:rgb(89, 180, 89);
    font-weight: bold;
}


/*Side Navbar*/

.wrapper .sidebar{
    /* position: fixed; */
    width: 200px; 
    height: 100vh;
    background: #1e3799;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;    
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #1b328d;
    border-top: 1px solid #1b328d;
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
    font-size: 1.1em;
    padding: 1%;
}

.wrapper .sidebar ul li:hover{
    background: #4a69bd;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}


/*Main Content*/
.wrapper .main-content{
    width: 100%;
    /* margin-left: 200px; */

}

.wrapper .main-content .header{
    padding: 20px;
    background: #fff;
}

.wrapper .main-content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
}


/* 
-------------------------------
MAIN DASHBOARD
-------------------------------
*/

.box-wrapper{
    display: flex;
    flex-flow: row wrap;
}

.box-wrapper a{
    flex: 1 1 30%;
}

.box{
    padding: 20px;
    margin: 10px;
    height: 150px;
    border-radius: 10px;
    color: white;
}

.box:hover{
    color: #c7ecee;
}


.color-1{
    background-color: #c0392b;
}
.color-2{
    background-color: #16a085;
}
.color-3{
    background-color: #f39c12;
}
.color-4{
    background-color: #30336b;
}
.color-5{
    background-color: #8e44ad;
}
.color-6{
    background-color:#3498db;
}

